doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='MCLBOT')
    meta(name='author', content='WRMSR')
    link(rel='icon', href='favicon.ico')
    title MCLBOT
    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/darkly/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', crossorigin='anonymous')


    link(rel='stylesheet', href='/static/style.css')


  body
    nav.navbar.navbar-expand-md.navbar-light.bg-light
      a.navbar-brand(href='/') MCLBOT
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse

        if pages
          ul.navbar-nav.mr-auto
            nav(aria-label='breadcrumb')
              ol.breadcrumb
                li.breadcrumb-item
                  each page in pages
                    li.breadcrumb-item
                      if page.link
                        a(href=page.link)
                          if page.icon
                            img(src=page.icon, width='25px')
                          | #{page.text}
                      else
                        if page.icon
                          img(src=page.icon, width='25px')
                        | #{page.text}

        //form.form-inline
        //  .form-group
        //    span Select timespan:
        //    select.form-control
        //      option 1 day
        //      option 7 days
        //      option 31 days
        //      option 365 days


    main.container-fluid
      block body

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.1/highcharts.js', crossorigin='anonymous')
  block scripts
