extends ../../layout.pug

block body
  .col-12
    .row
      .mb-4.col-12.col-xl-4
        .card.bg-primary
          .card-body.smallstat
            div
              div
                i.fas.fa-users.fa-3x
              div
                h6 Total members
                h5 #{cards.totalMembers}
      .mb-4.col-12.col-xl-4
        .card.bg-primary
          .card-body.smallstat
            div
              div
                i.fas.fa-user.fa-3x
              div
                h6 Members online
                h5 #{cards.onlineMembers}
      .mb-4.col-12.col-xl-4
        .card.bg-primary
          .card-body.smallstat
            div
              div
                i.fas.fa-envelope.fa-3x
              div
                h6 New messages
                h5 #{cards.totalMessages}

    .card.mb-4
      .card-header
        | Messages over time
      .card-body
        div#messageGraph(style='height:200px')

    .card.mb-4
      .card-header
        | Per-member channel statistics (max 100)
      .card-body
        table.table#table
          thead
            tr
              th Tag
              th # Messages
              th # Words
              th # Characters
              th # Mentioned users
              th # Attachments
              th Last message

          tbody
            each row in userStatsTable
              tr
                td
                  a(href=`../member/${row.id}`)
                    img(src=row.avatarURL, width='20px')
                    |  #{row.tag}
                td= row.count
                td= row.word_count
                td= row.char_count
                td= row.user_mention_count
                td= row.attachment_count
                td(data-sort=row.last_message)= row.last_message_formatted

block scripts
  script.
    $(document).ready(function () {
      $('#table').DataTable({
        pageLength: 100,
        aaSorting: [[1, 'desc']],
        bPaginate: false,
        bFilter: false,
        bInfo: false,
      });
    });

    const messageGraph = !{diagrams.messageGraph};

    for (const row of messageGraph) {
      row.y = parseInt(row.y);
    }

    Highcharts.chart('messageGraph', {
      chart: {
        type: 'areaspline',
        backgroundColor: 'rgba(255, 255, 255, 0.0)'
      },
      series: [{
        name: 'Messages',
        data: messageGraph,
        fillColor: '#183d61'
      }],
      title: {
        text: ''
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      xAxis: {
        type: 'datetime',
        labels: {
          formatter: function () {
            if (messageGraph[this.value]) {
              return messageGraph[this.value].name;
            }
          },
          style: {
            color: '#c3bfb6',
          }
        },
      },
      yAxis: {
        title: false,
        labels: {
          style: {
            color: '#c3bfb6',
          }
        }
      },
      plotOptions: {
        areaspline: {
          marker: {
            enabled: false,
          }
        }
      }
    });
