extends ../../layout.pug

block body
  .col-12
    .card-deck.mb-4
      .card.col-4.bg-primary
        .card-body.smallstat
          div
            div
              i.fas.fa-envelope.fa-3x
            div
              h6 New messages last 24h
              h5 #{messagesCount}
      .card.col-4.bg-primary
        .card-body.smallstat
          div
            div
              i.fas.fa-user.fa-3x
            div
              h6 Members online:
              h5 #{membersOnline}
      .card.col-4.bg-primary
        .card-body.smallstat
          div
            div
              i.fas.fa-users.fa-3x
            div
              h6 Total members:
              h5 #{totalMembers}

    .card.mb-4
      .card-header
        | Message graph
      .card-body
        div#messageGraph(style='height:200px')

    .card
      .card-header
        | Per-Member channel statistics
      .card-body
        table.table#table
          thead
            tr
              th Tag
              th # Messages
              th # Words
              th # Characters
              th # Mentioned users
              th # Attachments

          tbody
            each row in userStats
              tr
                td
                  - var link = "../member/";
                  - link += row.id
                  a(href=link)
                    img(src=row.avatarURL, width='20px')
                    |  #{row.tag}
                td= row.count
                td= row.word_count
                td= row.char_count
                td= row.user_mention_count
                td= row.attachment_count

block scripts
  script.
    $(document).ready(function () {
      $('#table').DataTable({
        pageLength: 100,
        aaSorting: [[1, 'desc']],
        bPaginate: false,
        bFilter: false,
        bInfo: false,
      });
    });

    const messageGraph = !{messageGraph};

    for (const row of messageGraph) {
      row.y = parseInt(row.y);
    }

    Highcharts.chart('messageGraph', {
      chart: {
        type: 'areaspline'
      },
      series: [{
        name: 'Messages',
        data: messageGraph,
      }],
      title: {
        text: ''
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      xAxis: {
        type: 'datetime',
        labels: {
          formatter: function () {
            if(messageGraph[this.value]) {
              return messageGraph[this.value].name;
            }
          }
        },
      },
      yAxis: {
        title: false,
      },
      plotOptions: {
        areaspline: {
          marker: {
            enabled: false,
          }
        }
      }
    });
