extends ../../layout.pug

block body
  .col-12
    .card-deck.mb-4
      .card.col-4.bg-primary
        .card-body.smallstat
          div
            div
              i.fas.fa-envelope.fa-3x
            div
              h6 New messages
              h5 #{cards.totalMessages}
      .card.col-4.bg-primary
        .card-body.smallstat
          div
            div
              i.fas.fa-user-clock.fa-3x
            div
              h6 Joined
              h5 #{cards.joinedTimestamp}
      .card.col-4.bg-primary
        .card-body.smallstat
          div
            div
              i.fas.fa-user-tag.fa-3x
            div
              h6 Highest role
              h5 #{cards.highestRole}

    .card.mb-4
      .card-header
        | Messages over time
      .card-body
        div#messageGraph(style='height:200px')

    .card.mb-4
      .card-header
        | Channel message count distribution
      .card-body
        div#channelBars(style='height:200px')

    .card.mb-4
      .card-header
        | Per-channel message statistics (max 100)
      .card-body
        table.table#table
          thead
            tr
              th Channel
              th # Messages
              th # Words
              th # Characters
              th # Mentioned users
              th # Attachments
              th Last message

          tbody
            each row in userStatsTable
              tr
                td
                  a(href=`../channel/${row.channel_id}`)
                    | ##{row.name}
                td= row.count
                td= row.word_count
                td= row.char_count
                td= row.user_mention_count
                td= row.attachment_count
                td(data-sort=row.last_message)= row.last_message_formatted

block scripts
  script.
    const messageGraph = !{diagrams.messageGraph};

    for (const row of messageGraph) {
      row.y = parseInt(row.y);
    }

    Highcharts.chart('messageGraph', {
      chart: {
        type: 'areaspline',
        backgroundColor: 'rgba(255, 255, 255, 0.0)'
      },
      series: [{
        name: 'Messages',
        data: messageGraph,
        fillColor: '#183d61'
      }],
      title: {
        text: ''
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      xAxis: {
        type: 'datetime',
        labels: {
          formatter: function () {
            if(messageGraph[this.value]) {
              return messageGraph[this.value].name;
            }
          },
          style: {
            color: '#c3bfb6',
          }
        },
      },
      yAxis: {
        title: false,
        labels: {
          style: {
            color: '#c3bfb6',
          }
        }
      },
      plotOptions: {
        areaspline: {
          marker: {
            enabled: false,
          }
        }
      }
    });

    const channelMessageBars = !{diagrams.channelMessageBars};

    for (const row of channelMessageBars) {
      row.y = parseInt(row.y);
    }

    Highcharts.chart('channelBars', {
      chart: {
        type: 'column',
        backgroundColor: 'rgba(255, 255, 255, 0.0)'
      },
      series: [{
        name: 'Messages',
        data: channelMessageBars,
        color: '#104271'
      }],
      title: {
        text: ''
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      xAxis: {
        labels: {
          formatter: function () {
            return channelMessageBars[this.value].name;
          },
          style: {
            color: '#c3bfb6',
          }
        },
      },
      yAxis: {
        title: false,
        labels: {
          style: {
            color: '#c3bfb6',
          }
        }
      },
    });

    $(document).ready(function () {
      $('#table').DataTable({
        pageLength: 100,
        aaSorting: [[1, 'desc']],
        bPaginate: false,
        bFilter: false,
        bInfo: false,
      });
    });
